.color-writing-2 {
    padding: 135px 0 120px;
    background-image: url('..//img/photo-doctors/color-writing-bg.jpg');
}

.color-writing__content-2 {
    width: 1486px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.color-writing__img-2 {
    flex-shrink: 0;
}

.color-writing__wrapper-2 {
    padding: 110px 0 0;
}

.color-writing__text-2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 75px;
}