.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px;
}

.menu__link {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2;
    margin-right: 45px;

    &:last-child {
        margin-right: 0;
    }
}

.search-form {
    display: flex;
}

.search-form__icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.search {
    height: 30px;
    border-radius: 15px;
    padding: 0 0 0 15px;
}